#statusbar { zoom: 1; overflow: hidden; background: #cfc9c0; }
#details { float: left; padding: 12px 16px; margin: 4px; text-align: center;
    border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; 
    background: #eee; 
    background: -webkit-linear-gradient(top, #f5f3f0, #cfc9bf 100%); 
    background: -moz-linear-gradient(top, #f5f3f0, #cfc9bf 100%);
    text-shadow: 0 1px 1px #fff;
}
#details h1 { font-size: 12px; font-weight: normal; color: #960; }
#details em { font-size: 30px; font-weight: bold; font-style: normal; color: #900; }
#players { zoom: 1; overflow: hidden; }
#players li { float: left; zoom: 1; overflow: hidden;
    margin: 4px; 
    border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; 
    background: #eee; 
    background: -webkit-linear-gradient(top, #f5f3f0, #cfc9bf 100%); 
    background: -moz-linear-gradient(top, #f5f3f0, #cfc9bf 100%);
}
#players li img { display: block; float: left; margin: 8px; }
#players li .details { float: left; margin: 8px 12px 4px 4px; text-shadow: 0 1px 1px #fff; }
#players li .details h3 { font-size: 14px; color: #567; }
#players li .details em { font-size: 18px; font-style: normal; font-weight: bold; color: #d90; }
#players li.active { border: 3px solid #fff; }
