.room { margin: 12px; }
.room h1 { margin: 8px 0; }
.room h3 { margin: 8px 0; }
.room #role-selector { zoom: 1; overflow: hidden; }
.room #role-selector li { float: left; }
.room #role-selector li .role:hover { background: #f5f3f0; cursor: pointer; }
.room #role-selector li em { display: block; text-align: center; margin: 0 auto; }
.room .role { width: 64px; height: 64px; border: 5px solid #cfcdc9; border-radius: 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; background: #e5e3e0; margin: 0 12px; padding: 4px 8px; }
.room .role img { display: block; }
.room .players { zoom: 1; overflow: hidden; }
.room .players li { zoom: 1; overflow: hidden; }
.room .players img { display: block; float: left; }
.room .players .me .role:hover { background: #f5f3f0; cursor: pointer; }
.room .players .details { float: left; }
.room .players .details em { display: block; }
.room .players .details em.name { font-size: 24px; font-weight: bold; font-style: normal; }
.room .players .details em.role-name { margin-top: 8px; font-size: 14px; font-style: normal; color: #999; }
.room .players .details em.state { margin-top: 12px; font-size: 14px; }
.room .action { margin: 20px 0; }


.big-button { cursor: pointer; color: #433; font-size: 14px; text-shadow: 0 1px #edc; padding: 6px 12px;
                border-radius: 4px; -moz-border-radius: 4px; box-shadow: 0 1px 3px #999; border: 1px solid #d18719;
                background: #ef9a14;
                background: -webkit-linear-gradient(top, #fee8bc, #fee8bc 1px, #fcb630 1px, #ef9a14 100%); 
                background: -moz-linear-gradient(top, #fee8bc, #fee8bc 1px, #fcb630 1px, #ef9a14 100%); }

