#{extends 'main.html' /}
#{set title:messages.get("game.title") /}
#{set 'moreScripts'}
<script src="@{'/public/javascripts/statusbar.js'}" type="text/javascript" charset="UTF-8"></script>
#{/set}

<div id="statusbar">
    <div id="game">
        <h1 id="game-name"></h1>
        <em></em>
    </div>
    <ul id="players">
    </ul>
</div>
<div id="game">
</div>


<script type="text/javascript">
var gameId = "${game.id}";
(function($, window) {

    // Status bar
    new R301.module.Statusbar({
        container: $("#statubar")
    });
    
    R301.module.Action.playerReady();
	R301.module.Action.startGame(function(events, textStatus) {
		var i = 0, len = events.length;
		while(i < len) {
			var event = events[i],
				data = event.data;
			if (data.type == "StartEvent") {
	            $(window).trigger('startGame', [data.game]);
		    }
			i++;
		}
	    
	});
    
})(jQuery, window);
</script>















