#{extends 'main.html' /}
#{set title:messages.get("game.title") /}
#{set 'moreScripts'}
<script src="@{'/public/javascripts/statusbar.js'}" type="text/javascript" charset="UTF-8"></script>
#{/set}

<div id="players">
<ul>
    #{list items: game.players, as: "player"}
    <li>${player.name}</li>
    #{/list}
</ul>
</div>
<div id="statusbar">
</div>
<div id="game">
</div>


<script type="text/javascript">
var gameId = "${game.id}";
(function($, window) {

    // Status bar
    new R301.module.Statusbar({
        container: $("#statubar")
    });
    
    //
    var playList = {};
	R301.module.Action.startGame(function(events, textStatus) {
	    var event = events[events.length - 1], data = event.data;

	    if (data.type == "StartEvent") {
            $(window).trigger('startGame', [data.game]);
	    }
		
		var data = events[0].data.game,
			players = data.players,
			gameMap = data.gameMap,
			i = 0, len = players.length,
			x = 0, y = 0,
			avatarPath = R301.constants.PUBLIC_PATH + '/data/roles/',
			game = new R301.module.Game({
				background: background,
				map: gameMap.mapCells
			});
	    
		for(i; i < len; i++) {
			(function(index) {
				var player = players[index];
				
				y = parseInt(player.currentCellId / gameMap.width);
				x = player.currentCellId % gameMap.width;
				
				playList[player.role.name] = new R301.module.Player({
					avatar: avatarPath + player.role.face,
					width: 64, 
					height: 64,
					x: x,
					y: y
				});
				
				game.registAction(function() {
					var p = playList[player.role.name],
						position = p.getPosition();
					game.draw(p.getPlayer(), position.x * cellWidth, position.y * cellHeight - fixHeight);
				});
				
			})(i);
		};
		
		game.appendTo(document.body);
	    game.run();
	});
    
})(jQuery, window);
</script>















