#{extends 'main.html' /}
#{set title:messages.get("game.title") /}

<div id="players">
<ul>
    #{list items: game.players, as: "player"}
    <li>${player.name}</li>
    #{/list}
</ul>
</div>
<div id="game">
</div>


<script type="text/javascript">
// Handle events
var gameId = "${game.id}";
(function($, window) {
	
    var playList = {};
    R301.module.Action.playerReady();
	R301.module.Action.startGame(function(events, textStatus) {
		$(window).trigger('startGame', [events]);
	});
    
})(jQuery, window);
</script>















