#{extends 'main.html' /}
#{set title:messages.get("room.title") /}
#{set 'moreScripts'}
<script src="@{'/public/javascripts/room.js'}" type="text/javascript" charset="UTF-8"></script>
#{/set}
#{set 'moreStyles'}
<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/room.css'}" />
#{/set}

<div class="room">
    <h1>&{"room.title"}</h1>
    
    <div id="role-selector" style="display: none;">
        <h3>&{"room.selectRole"}</h3>
        <ul>
        </ul>
    </div>
    <div class="players">
        <h3>&{"room.players"}</h3>
        <ul id="players">
        </ul>
    </div>
    <div class="action">
    #{a @Rooms.start(room.id), id: "start", class: "big-button start"}&{"game.start"}#{/a}
    #{a @Rooms.leave(room.id), id: "leave", class: "big-button leave"}&{"room.leave"}#{/a}
    </div>

</div>

<script type="text/javascript">
(function($, window) {

    var waitEventsAction = #{jsAction @Rooms.waitState(room.id, ":lastReceived") /}
    var changeRoleAction = #{jsAction @Rooms.selectRole(room.id, ":roleId") /}
    var gameAction = #{jsAction @Games.game(":gameId") /}
    new R301.module.Room({
        waitEventsAction: waitEventsAction,
        changeRoleAction: changeRoleAction,
        gameAction: gameAction,
        startButton: $("#start"),
        leaveButton: $("#leave"),
        playersContainer: $("#players"),
        roleSelector: $("#role-selector"),
        faceRoot: "${play.ctxPath}${play.configuration['rich301.role.url.prefix']}/",
        roles: [
            #{list items: roles, as: "role"}
            { id: ${role.id}, name: "${role.name}", face: "${role.face}" }${role_isLast ? "" : ","}
            #{/list}
        ]
    });

})(jQuery, window)
</script>